<a href="https://colab.research.google.com/github/TakahashiYuta210/EU_M_Math-Repository/blob/Chap06_Cm-01/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from io import StringIO
import io
import requests, zipfile
%matplotlib inline

%precision 3

'%.3f'

In [23]:
pwd

'/content/chap5/chap5'

In [17]:
mkdir chap5

In [18]:
cd ./chap5

/content/chap5/chap5

In [24]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'
r = requests.get(url, stream=True)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [25]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [29]:
student_data_math = pd.read_csv('student-mat.csv', sep=';')

In [32]:
student_data_math.groupby(['age', 'sex'])['G1'].mean()

age  sex
15   F      10.052632
     M      12.250000
16   F      10.203704
     M      11.740000
17   F      11.103448
     M      10.600000
18   F      10.883721
     M      10.538462
19   F      10.642857
     M       9.700000
20   F      15.000000
     M      13.000000
21   M      10.000000
22   M       6.000000
Name: G1, dtype: float64

In [33]:
student_data_math.groupby(['age', 'sex'])['G1'].mean().unstack()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000
21         NaN  10.000000
22         NaN   6.000000

In [34]:
student_data_math.groupby(['age', 'sex'])['G1'].mean().unstack().dropna()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000